
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보처리방침</title>

    <link rel="icon" href="/favicon.ico" />

    <script src="js/commonAjax.js"></script>
    <script src="js/custom.js"></script>
    
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    
    <script>

    function init(){
    	var url = location.href;
    	var confmKey = "승인키";
    	var resultType = "4"; // 도로명주소 검색결과 화면 출력내용, 1 : 도로명, 2 : 도로명+지번+상세보기(관련지번, 관할주민센터), 3 : 도로명+상세보기(상세건물명), 4 : 도로명+지번+상세보기(관련지번, 관할주민센터, 상세건물명)
    	var inputYn= "<%=inputYn%>";
    	if(inputYn != "Y"){
    		document.form.confmKey.value = confmKey;
    		document.form.returnUrl.value = url;
    		document.form.resultType.value = resultType;
    		document.form.action="https://www.juso.go.kr/addrlink/addrLinkUrl.do"; //인터넷망
    		//document.form.action="https://www.juso.go.kr/addrlink/addrMobileLinkUrl.do"; //모바일 웹인 경우, 인터넷망
    		document.form.submit();
    	}else{
    		opener.jusoCallBack("<%=roadFullAddr%>");
    		window.close();
    		}
    }
   // init();
    
    </script>
</head>

<body onload="init();">
<%
	String roadFullAddr = request.getParameter("roadFullAddr"); 
%>
	<form id="form" name="form" method="post">
		<input type="hidden" id="confmKey" name="confmKey" value=""/>
		<input type="hidden" id="returnUrl" name="returnUrl" value=""/>
		<input type="hidden" id="resultType" name="resultType" value=""/>
		<!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 START-->
		<!-- 
		<input type="hidden" id="encodingType" name="encodingType" value="EUC-KR"/>
		 -->
		<!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 END-->
	</form>
</body>
</html>

 